/* body{
    background-image: url(/assets/img/ya.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.container {
    margin-top: 150px;
}

.wow{
    /* background-color: rgba(209, 208, 208, 0.651); */
    padding: 40px;
    margin-top: 50px;
}

.kiw{
    padding: 40px;
    margin-top: 0;
}

.container {
    margin-top: 100px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
}

.login {
  margin-top: 150px !important;
  background-color: rgb(205, 202, 202);
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  padding: 0px 50px 50px 50px;
  border-radius: 50px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(126, 156, 180);
}

.login-header {
  background:rgb(126, 156, 180);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: rgb(126, 156, 180);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: rgb(126, 156, 180);
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: rgb(126, 156, 180);
}